.card-content {
    width: 100%;
}

.avatar {
    max-height: 70px;
    max-width: 70px;
}

.table-image {
    width: 64px;
}

/*.fixed-action-btn {
    bottom: auto;
}
*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
