<!DOCTYPE html>
<html ng-app='Agenda'>
<head>
	<meta charset="utf-8">
	<title>Agenda</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css"  media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">

</head>
<body>

	<header>
		<nav>
			<div class="nav-wrapper amber">
			  <a href="#!/" class="brand-logo">Agenda</a>
			</div>
		</nav>
	</header>

	<main>
		<div class="container">
			<div class="row">

				<!-- Renderiza os templates -->
				<div ng-view class="col s10 offset-s1">
				</div>

			</div>
			
		</div>
	</main>
	
</body>
<footer class="page-footer amber darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Tokenlab - Mobile Development</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="assets/js/materialize.min.js"></script>
	<script src="assets/js/angular.min.js"></script>
	<script src="assets/js/angular-route.js"></script>
	<script src="assets/js/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.min.js"></script>
	<script src="assets/js/app.js"></script>
	<script src="assets/js/routes.js"></script>
	<script src="assets/js/services/user.js"></script>
	<script src="assets/js/services/contact.js"></script>
</html>