<!DOCTYPE html>
<html ng-app='Agenda'>
<head>
	<meta charset="utf-8">
	<title>Agenda</title>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css"  media="screen,projection"/>

</head>
<body>

	<nav ng-controller="ContactsShowController">
		<div class="nav-wrapper amber">
		  <a href="" class="brand-logo">Agenda</a>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="#!">Hello, {{user.name}}</a></li>
	      </ul>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<!-- Mostra contatos -->
			<div ng-view class="col s6">
			</div>

			<!-- Cadastra contato novo -->
			<!-- 
			<div ng-controller="ContactsCreateController" class="col s4">
				<h2>Add Contact</h2>
				<form>
					<div class="input-field">
						<input class="form-control" type="text" id="name" name="name" ng-model="contact.name">
						<label for="name">Full Name</label>
					</div>

					<div class="input-field">
						<input class="form-control" type="email" id="email" name="email" ng-model="contact.email"></input>
						<label for="email">E-mail</label>
					</div>

					<div class="input-field">
						<input class="form-control" type="text" id="phone" name="phone" ng-model="contact.phone"></input>
						<label for="phone">Phone</label>
					</div>

					<button type="submit" name="action" ng-click="saveContact(contact)" value="Save" class="waves-effect waves-light light-blue accent-2 btn">
					Save<i class="material-icons right">send</i>
					</button>
				</form>
			</div>	
 -->
		</div>
		
	</div>

</body>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="assets/js/materialize.min.js"></script>
	<script src="assets/js/angular.min.js"></script>
	<script src="assets/js/angular-route.js"></script>
	<script src="assets/js/angular-resource.js"></script>
	<script src="assets/js/app.js"></script>
	<script src="assets/js/routes.js"></script>
	<script src="assets/js/services/user.js"></script>
	<script src="assets/js/services/contact.js"></script>
</html>