<div class="container">
<h2>Edit Contact</h2>
<form name="contactForm">

	<!-- Validation messages -->
    <small ng-show="contactForm.name.$invalid && contactForm.name.$touched" class="red-text">Name is required.</small>
    <small ng-show="contactForm.phone.$invalid && contactForm.phone.$touched" class="red-text">Phone is required.</small>
	<small ng-show="contactForm.email.$invalid && contactForm.email.$dirty" class="red-text">Enter a valid email.</small>

	<div class="input-field">
		<input type="text" id="name" name="name" ng-model="contact.name" required>
		<label class="active" for="name">Full Name</label>		
	</div>

	<div class="input-field">
		<input type="tel" id="phone" name="phone" ng-model="contact.phone" required>
		<label class="active" for="phone">Phone</label>
	</div>

	<div class="input-field">
		<input type="email" id="email" name="email" ng-model="contact.email">
		<label class="active" for="email">E-mail</label>
	</div>

	<button type="submit" name="action" ng-click="saveContact(contact)" ng-disabled="contactForm.$invalid" value="Save" class="waves-effect waves-light light-blue accent-2 btn">
	Save<i class="material-icons right">send</i>
	</button>

	<button type="submit" name="action" ng-click="deleteContact()" value="Save" class="waves-effect waves-light red accent-4 btn" style="float: right;">
	Delete
	</button>
</form>	
</div>
